


html, body {
    margin: 0;
    padding: 0;
    background-color: #d9cfdf; 
}


frame {
    border: 1px solid #13b9c5; 
    box-sizing: border-box; 
    width: 100%; 
    height: 100%; }


frame > html, frame > body {
    margin: 0; 
    padding: 10px; 
    width: 100%; 
    height: 100%; 
}


frame > html table,
frame > body table {
    width: 100%;
    height: 100%;
}

